#main {
    height: 100vh;
}
#quote {
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
}
.btns {
    font-family: 'Raleway', sans-serif;
}
#author {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
}